
.page-header
  %h1
    %select#report-month
      = options_from_collection_for_select selectable_periods, :value, :text, "#{selected_year}-#{selected_month}"

    .pull-right
      Net: 
      %span.amount{class: @report.net_income > 0 ? :positive : :negative}= number_to_currency(cents_to_dollars(@report.net_income))

= render "reports/monthly_cashflow/group", title: "Income", entries: @report.income
= render "reports/monthly_cashflow/group", title: "Expenses", entries: @report.expenses
