= page_header "Edit transaction"

= bootstrap_form_for @transaction, as: :transaction, url: transaction_path(@transaction) do |f|
  = hidden_field_tag :return_to, params[:return_to]

  %div
    = f.collection_select :category_id, Category.all, :id, :name, {}, {class: "select2", style: "width:100%"}

  %div
    = f.text_area :notes, class: "span12"

  .row-fluid
    .form-actions.span12
      = f.submit "Update", class: "btn btn-primary"