= page_header "Transactions"

#search
  = search_form_for query do |f|
    = f.date_field :date_gt, placeholder: "from"
    = f.date_field :date_lt, placeholder: "to"

  .pull-right
    = link_to "Make Transfer", transferize_transaction_path(":from_id", ":to_id"), id: "transferize", class: "btn btn-danger"

%table#transactions.table.table-striped
  %thead
    %tr
      %td.span1
      %td Date
      %td Description
      %td Amount
      %td Category
      %td Account

  %tbody
    - collection.each do |t|
      %tr{id: "transaction-#{t.id}", data: {id: t.id}}
        %td.span1= check_box_tag ""
        %td.span2= t.date.to_s
        %td= link_to t.description, edit_transaction_path(t, return_to: request.url)
        %td.span2.amount{class: t.is_a?(Expense) ? "negative" : "positive"}= number_to_currency(cents_to_dollars(t.cents), unit: "")
        %td= t.category.name
        %td.span2= t.account.name

.row-fluid
  .span12.text-center= paginate collection, theme: "twitter-bootstrap"