= page_header "Transactions"

= search_form_for query do |f|
  = f.date_field :date_gt, placeholder: "from"
  = f.date_field :date_lt, placeholder: "to"

%table.table.table-striped
  %thead
    %tr
      %td Date
      %td Description
      %td Amount
      %td Category
      %td Account

  %tbody
    - collection.each do |t|
      %tr{id: "transaction-#{t.id}"}
        %td.span2= t.date.to_s
        %td= link_to t.description, edit_transaction_path(t, return_to: request.url)
        %td.span2.amount{class: t.is_a?(Expense) ? "negative" : "positive"}= number_to_currency(cents_to_dollars(t.cents), unit: "")
        %td= t.category.name
        %td.span2= t.account.name

.row-fluid
  .span12.text-center= paginate collection, theme: "twitter-bootstrap"