= nav_bar fluid: :top, responsive: true, brand: "MintApp" do
  = menu_group do
    = menu_item "Home", root_path
    
    = menu_item "Review #{badge review_count}".html_safe, review_path
    
    = drop_down "Transactions" do

      = menu_item "All  #{badge transactions_count}".html_safe, transactions_path

      - if Account.count > 0
        = drop_down_submenu "By Account" do
          - Account.all.each do |account|
            = menu_item "#{badge account.transactions_count} #{account.name}".html_safe, account_transactions_path(account)

      - if Category.count > 0
        = drop_down_submenu "By Category" do
          = render collection: Category.roots, partial: "layouts/category"

  = menu_group pull: :right do
    = drop_down "Settings" do
      = menu_item "Accounts", accounts_path
      = menu_item "Categories", categories_path
      = menu_item "Import Settings", "#"
